
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,200;1,900&family=Ubuntu:wght@300;400;500;700&display=swap');

/*************start*************/
img {
	max-width:100%;
	display:inline-block;
}
body {
	font-family: 'Poppins', sans-serif;
}
h1, h2, h3, h4, h5, h6, p{
	margin:0px;
	padding:0px;
	font-weight: normal;
	line-height: 100%;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Ubuntu', sans-serif;
}
a, a:hover, a:focus{
	text-decoration:none;
	cursor: pointer;
}
.witget_area{
	overflow: hidden;
}

/*************Header Area start*************/

.header_area{
	background: #fff;
	padding: 20px 0px;
}
.inquire-btn{
    padding: 14px 10px;
    width: 200px;
    text-align: center;
    background: #ff5c38;
    border-radius: 4px;
    color: #fff;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
	font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
	border: 1px solid #A63470;
	position: relative;
	z-index: 200;
}
.inquire-btn:hover{
    color: #fff;
}

/*************Hero Area start*************/

.hero_area{
	padding: 70px 0px;
	background: url(../images/bg-1.png) top right no-repeat;
	background-size: cover;
	background-color: #E5E5E5;
	overflow: hidden;
	position: relative;
}
.hero_area:before{
	content: "";
    position: absolute;
    left: -50%;
    bottom: -315px;
    width: 200%;
    height: 400px;
    background-color: #ffffff;
    transform: rotate(-7deg);
}
.hero_content{
	position: relative;
	z-index: 100;
}
.hero_content h2{
	font-weight: 700;
	font-size: 50px;
	line-height: 57px;
	color: #3D5C70;
}
.hero_content p{
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	color: #3D5C70;
	padding-top: 15px;
}
.hero_content .inquire_btn{
	padding-top: 30px;
}
.her_service{
	display: block;
	padding-top: 30px;
	vertical-align: top;
}
.her_service ul{
	margin: 0;
	padding: 0;
}
.her_service ul li{
	max-width: 90px;
	padding: 10px 5px 0px;
	list-style-type: none;
	display: inline-block;
	font-weight: 400;
	font-size: 11px;
	line-height: 16px;
	text-align: center;
	color: #000000;
	text-align: center;
	vertical-align: top;
}
.her_service ul li img{
	max-width: 70px;
}
.her_service ul li span{
	display: block;
	padding-top: 10px;
}
.hero_img{
	text-align: right;
}
.hero_img img{
	margin-right: -100px;
}
.modal-backdrop {
	background: rgba(251,113,86,.57);
    backdrop-filter: blur(24px);
}
.modal-backdrop.show {
	opacity: 1 !important;
}
.modal-dialog {
    max-width: 550px;
    margin: 1.75rem auto;
}
.modal_iframe{
	width: 100%;
	height: calc(100vh - 40px);
}
.modal-dialog {
    margin: 0 auto;
}
.modal-open .modal {
	padding: 20px !important;
}

/*************why_genbody Area start*************/

.why_genbody{
	padding: 100px 0px 0px;
}
.why_genbody_content{
	padding-right: 20px;
}
.why_genbody_content h3{
	font-weight: 500;
	font-size: 35px;
	line-height: 40px;
	color: #3D5C70;
}
.why_genbody_content ul{
	margin: 0;
	padding: 0;
	padding-top: 20px;
	padding-bottom: 10px;
}
.why_genbody_content ul li{
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	color: #6E8594;
	position: relative;
	list-style-type: none;
	padding-left: 26px;
	padding-top: 10px;
}
.why_genbody_content ul li:before{
	content: "";
	position: absolute;
	left: 2px;
	top: 20px;
	width: 8px;
	height: 8px;
	background: #FB7156;
	border-radius: 50%;
}
.why_genbody_content ul li:after{
	content: "";
	position: absolute;
	left: 0px;
	top: 18px;
	width: 12px;
	height: 12px;
	border: 0.4px solid #E9F2FF;
	border-radius: 50%;
}
.why_genbody .inquire_btn{
	padding-top: 25px;
}
.slide_1{
	text-align: center;
}
.why_genbody_new{
	padding: 70px 0px 200px;
	background: url(../images/bg-1.png) top right no-repeat;
	background-size: cover;
	background-color: #ffffff;
	overflow: hidden;
	position: relative;
}
.why_genbody_new:before{
	content: "";
    position: absolute;
    left: -50%;
    bottom: -315px;
    width: 200%;
    height: 400px;
    background-color: #ffffff;
    transform: rotate(-7deg);
}
.why_genbody_new .slide_1{
	padding-top: 30px;
}


/*************Tests Area start*************/

.tests_area{
	width: 100%;
	display: block;
	position: relative;
	margin-bottom: 150px;
}
.tests_area_new{
	margin-top: -230px;
}
.tests_area:before{
	width: 200%;
	height: 100%;
	content: "";
	position: absolute;
	top: 79px;
	left: -50%;
	background: linear-gradient(to right, #ec597c 100%, #fb7055 0%);
	z-index: 5;
	transform: rotate(-10deg);
}
.tests_area:after{
	width: 100%;
	height: 100%;
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	background: url(../images/bg-1.png) center center no-repeat;
	background-size: cover;
	z-index: 10;
}
.tests_area_over{
	position: relative;
	z-index: 100;
}
.tests_content{
	text-align: center;
}
.tests_hr{
	width: 102px;
	height: 2px;
	background: #fff;
	margin: 0 auto;
	margin-top: 30px;
}
.tests_button{
	padding-top: 30px;
	text-align: center;
}
.tests_button a{
	font-family: 'Poppins';
	font-weight: 500;
	font-size: 33px;
	line-height: 50px;
	color: #FFFFFF;
	background: linear-gradient(90deg, rgba(255, 255, 255, 0.29) 10.38%, rgba(255, 255, 255, 0) 90.4%);
	border-radius: 6px;
	display: inline-block;
	padding: 5px 20px;
}
.tests_area_new .her_service ul li, .tests_area_new .her_service ul li span{
	color: #ffffff;
}
.tests_area_new .her_service ul li a{
	color: #ffffff;
	display: inline-block;
}
/*************Service Area start*************/

.tests_area .her_service{
	text-align: center;
}
.tests_area .her_service {
    padding-top: 15px;
}

/*************FAQ Area start*************/

.faq_area{
	padding: 50px 0px;
}
.accordion_area{
	padding-top: 50px;
}
.accordion-button{
	font-size: 16px;
	font-weight: 600;
}
.accordion-button:not(.collapsed) {
    background: linear-gradient(268.18deg,#ec597c -6.05%,#ec597c -6.04%,#ec597c 99.59%);
    border-radius: 4px;
	color: #fff;
	border: 1px solid #A63470;
	box-shadow: 0 0 0 #fff;
	border-radius: 0px;
}
.accordion-item{
	margin-top: 20px;
}
.accordion-button:not(.collapsed)::after {
    background-image: url(../images/icons/down.png);
}

/*************Distributor Area start*************/

.distributor_area{
	padding: 50px 0px 100px;
}
.area_title{
	text-align: center;
}
.area_title h2{
	font-weight: 500;
	font-size: 35px;
	line-height: 40px;
	color: #3D5C70;
}
.distributor_area .area_title{
	padding-bottom: 50px;
}
.client_box{
	max-width: 991px;
	margin: 0 auto;
}
.distributor_area .col-md-4{
	padding-top: 50px;
	align-items: center;
	display: flex;
}
.distributor_logos{
	width: 100%;
	text-align: center;
}
.distributor_logos a{
	transition: 0.4s;
}
.distributor_logos a img{
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	transition: 0.4s;
	opacity: 0.7;
}
.distributor_logos a:hover img{
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
	transition: 0.4s;
	opacity: 1;
}
.distributor_area .inquire_btn{
	text-align: center;
	padding-top: 50px;
}
.distributor_area .inquire_btn a{
	display: inline-block;
}

/*************Footer Area start*************/

.site_footer{
	background: url(../images/footer-bg.png) center center no-repeat;
	background-size: cover;
	padding: 80px 0px 30px;
}
.site_footer .col-md-4{
	display: flex;
	align-items: center;
}
.footer_logo{
	padding-bottom: 20px;
}
.footer_location{
	padding-bottom: 20px;
}
.footer_location ul{
	margin: 0;
	padding: 0;
}
.footer_location ul li{
	list-style-type: none;
	position: relative;
	padding-left: 25px;
	font-weight: 400;
	font-size: 17px;
	line-height: 26px;
	color: #FFFFFF;
	padding-top: 10px;
}
.location_icon{
	position: absolute;
	top: 8px;
	left: 0px;
}
.footer_nav{
	
}
.footer_nav h5{
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 17px;
	line-height: 26px;
	color: #FFFFFF;
	padding-bottom: 10px;
}
.footer_nav ul{
	margin: 0;
	padding: 0;
}
.footer_nav ul li{
	list-style-type: none;
	padding-top: 5px;
}
.footer_nav ul li a{
	font-size: 17px;
	line-height: 26px;
	color: #FFFFFF;
}
.footer_content{
	max-width: 1050px;
	margin: 0 auto;
	padding-top: 50px;
}
.footer_content p{
	font-size: 12px;
	line-height: 18px;
	color: #FFFFFF;
}
.copyright_txt{
	padding-top: 20px;
	text-align: center;
}
.copyright_txt p{
	font-size: 12px;
	line-height: 18px;
	color: #FFFFFF;
}
.faq_inquire_btn{
	text-align: center;
	margin-top: 50px;
}
.faq_inquire_btn a{
	display: inline-block;
}
.modal-content iframe{
	height: 100vh;
}



/*************end*************/
